<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common_header(~{},~{})">
    <meta charset="utf-8">
    <title>添加菜单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        #stepForm{
            // 设置容器宽度
            width: '100%',
            stepWidth: '750px',
            height: '500px',
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layui-card-body" style="padding-top: 40px;">
        <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">

            <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                <div class="layui-form layuimini-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">角色名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify="required" lay-reqtext="角色名称" placeholder="请填写角色名称" class="layui-input"  />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">备注说明:</label>
                        <div class="layui-input-block">
                            <textarea name="description" placeholder="备注说明" value="" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否启用</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="是" checked=""><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>
                            <input type="radio" name="status" value="0" title="否"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>否</div></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!--公用JS-->
<footer th:include="footer :: common_footer"></footer>
<!--公用JS---END-->

<script>
    layui.use([ 'form', 'miniTab'], function () {
        var $ = layui.$,
            form = layui.form,
            miniTab = layui.miniTab;

        // 监听菜单级别
        form.on('select(level)', function(data){
            console.log(data);
            if(data.value == 0){
                // 顶级菜单则无上级菜单
                $("#parentIdContainer").hide();
                form.render('select');
            }else{
                // 清除原先的节点否则会出现下拉框有重复数据
                document.getElementById("parentId").options.length = 0;
                getMenu(data.value);
                $("#parentIdContainer").show();
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(JSON.stringify(data.field));
            $.ajax({
                type: "POST",
                url: "/role/create",
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType:"application/json;charset=utf-8",
                success: function (result) {
                    console.log(result);
                    if (result.status == "success"){
                        var index = layer.alert("添加成功",{
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            // 刷新父页面
                            window.parent.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    }else {
                        layer.msg("添加失败,原因为" + result.data.errMsg);
                    }
                }
            });
          /*  var index = layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            }, function () {
                layer.close(index);
                miniTab.deleteCurrentByIframe();
            });*/
            return false;
        });



        function getMenu(level){
            // 查询上级菜单
            $.ajax({
                url: "/menu/superLevelMenu",
                type: 'get',
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                data: {
                    level: level
                },
                success:function(res){
                    var data = res.data;
                    console.log(data);
                    if(res.status == "success"){
                        var optionData = "";
                        for(var i = 0;i < data.length; i++){
                            optionData += "<option value=\"" + data[i].id+"\">" + data[i].title+"</option>";
                        }
                        $("#parentId").append(optionData);
                        form.render('select');//select是固定写法 不是选择器
                    }else{
                        layer.msg(res.message);
                    }
                }
            });
        }

    })
</script>
</body>
</html>